<!DOCTYPE html>
<html>
<head>
<!! Adding Shadow Element to the Center- Content box of the Home Page -->
  <style>
    	shadow {
      -moz-box-shadow: 0 0 30px 5px #999;
      -webkit-box-shadow: 0 0 30px 5px #999;
      }
</style>
  <title >DNS Player</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'swfobject' %>
  <%= javascript_include_tag 'flowplayer-3.2.6.min' %>
  <%= javascript_include_tag 'menuView' %>

</head><!-- Exiting Head Tag -->
<body onLoad="hide1()"><!-- Beginning of Body Tag -->
<div style="overflow:auto;height=100px;" >

	<div  id="box" ><!-- Using div tag to create a box-like element with id=box -->
<!-- Creating a Div box which stores the properties of the header part which includes the Main heading(ie DNS PLAYER) and a Top Menu Bar(id=list-nav-->
		<div id="title" >
			<ul class=titlemenu style="float:right;">
			  <li><a class=button href="login.html"><span>Login</span></a></li>
			  <li><a class=button href="about.html"><span>About</span></a></li>
			  <li><a class=button href="http://www.gmail.com"><span>Register</span></a></li>
			</ul>
			<h1>DNS PLAYER</h1>
			<p>Where need meets results......</p>
		</div>
<br>
<!-- Creating a Div Panel which includes 2 Div attributes. One is for taking care of the left naviagation bar and the other one for Storing the 		welcome contents -->
		<div id="workspace" style="width:200px;float:left;">
		<ul class="hovermenu" style="list-style:none;text-decoration:none;">
		<!-- Creating 2 buttons- Home and Video. On click of Video, @ addtional options appear-ADD BOOKMARK and SHOW BOOKMARK and 					another Div tag opens up which shall act as the panel for the video ------------------->
		  	    <li><button style="border:0;background:none;padding:0;margin:0; color:gray; font-weight:bold; font-size:16px" onclick="hide0()">Home</button></li>
		  	    <li><button style="border:0;background:none;padding:0;margin:0; color:gray;font-weight:bold; font-size:16px" onclick="hide1()">Video</button>
		  	    	<ul id="new"   style="display:none;" >
		            		<li><button style="border:0;background:none;padding:0;margin:0;color:gray;" onclick="hide2()">Add Bookmark</button>
		            		<!-- Hidden Box for Panel to contain Video evoked on click of Video Button linking it to Flow Player----------->
			 		<div class="hidden" id="leftmenu" style="position:fixed;top:145px;right:5px;margin-		        left:200px;float:right;width:300px;height:300px;border:1px #ba0202;"><%= render 'posts/show' %></div>
	       		    		</li>
 		 	    	<li><a href="about.html" style="color:gray;">Show Bookmark</a></li>
				</ul>
				<!--</div>-->
 			     </li>
 			     <!-- Youtube Video Player evoked on click of 'Youtube' Button -->
 			     <li><button style="border:0;background:none;padding:0;margin:0;color:gray;font-weight:bold; font-size:16px" onclick="hide3()">Youtube</button></li>
 			     <li><button style="border:0;background:none;padding:0;margin:0;color:gray;font-weight:bold; font-size:16px" onclick="hide4()">ppt</button></li>
		</ul>
		</div>
				<!--<div class="hidden" id="new"   style="display:none;float:right;">-->
				<div  id="new1" style="display:none;position:fixed;top:100px;right:500px;width:600px;border:1px #ba0202;">	<%= yield %>
				<div >
<!---->





<!--<iframe src="https://docs.google.com/present/view?id=0AUnWV2Qln9zkZGZwMzY0NHhfMGZidm00N2Rm&hl=en_GB" width="500px" height="500px"></iframe>-->
<img style="position:fixed;top:100px;right:320px;width:360px;border:1px #ba0202;" src="/images/pausch/img0.gif" id="imageSource" >
<%= render 'layouts/table' %>









</div>
				</div>

<!-- DIV tag for containing the welcome text on the Screen Image -->
		<div class="shadow">
		<div id="content" style="width:800px;height:300px;float:left;border:1px solid #ba0202;padding:0;margin-left:30px;">&#160;&#160;&#160;

			<h1 align="center" >Welcome to DNS Player</h1>
			<p align="left">A one-stop solution for playing youtube videos on the Net!! As you will see, the procedure is very simple.All you need to do is past the URL of the desired video and leave the rest to us. You also have the feature of bookmarking certain part's of the video and then later playing the video from those specific parts itself.Sounds good? Well click on the Video Link in the Menu on the left and proceed.</p><br><br><p align="center">Thanks for visiting!!</p>
		</div>
		</div>
				<!-- Creating text area for the user to enter his/her desired YouTube video URL -->
		<div id="youtube" style="display:none">
		<input type="text" size="30" name="url1" id="url1" />
		<input type="button" value="Url" onclick="Url()" />
		<iframe width="560" height="349" frameborder="0" allowfullscreen id="src1"></iframe></div>

<div id="ppt">


<iframe src="https://docs.google.com/present/view?id=0AUnWV2Qln9zkZGZwMzY0NHhfMGZidm00N2Rm&hl=en_GB" width="500px" height="500px"></iframe>
</div>

</div>
</body>
</html>

